@page
@model Project_PRN_Razor.Pages.Admin.SemesterPages.CreateSemester

@{
    Layout = "Shared/_LayoutAdmin";
}

<form method="post">
    <div class="form-group">
        <label asp-for="Semester.SemesterName">Semester name</label>
        <input asp-for="Semester.SemesterName"  class="form-control" placeholder="Spring/Summer/Fall + year">
    </div>
    <div class="form-group">
        <label asp-for="Semester.StartDate">Start Date</label>
        <input asp-for="Semester.StartDate" type="date" class="form-control" placeholder="Start Date">
    </div>
    <div class="form-group">
        <label asp-for="Semester.EndDate">End Date</label>
        <input asp-for="Semester.EndDate" type="date" class="form-control" placeholder="End Date">
    </div>

    <button type="submit" class="btn btn-primary" style="width: 150px; margin-top: 30px;"> Create</button>
</form>