@page "{classId:int}"
@model Project_PRN_Razor.Pages.Admin.ClassPages.EditClass

@{
    Layout = "Shared/_LayoutAdmin";
}

<form method="post">
    <div class="form-group">
        <label asp-for="TheClass.ClassId">Class Id</label>
        <input asp-for="TheClass.ClassId" class="form-control" value="@Model.TheClass.ClassId" readonly>
    </div>
    <div class="form-group">
        <label asp-for="TheClass.ClassName">Class name</label>
        <input asp-for="TheClass.ClassName" class="form-control" value="@Model.TheClass.ClassName" placeholder="Major Code + class number">
    </div>
    <div class="btn-group" style="margin-top: 50px; ">
        <button type="submit" class="btn btn-success" style="width: 150px; margin-right: 10px;" asp-page-handler="Update"> Update</button>
        <button type="submit" class="btn btn-danger" style="width: 150px" asp-page-handler="Delete"> Delete</button>
    </div>
    
</form>